<div id="dashboard" data-component="dashboard">

  <div id="family-badges">
    {{#each users}}
      {{> user-badge/user-badge}}
    {{/each}}
  </div>


  <div data-component="button-group">
    <button class="active">Active Missions</button>
    <button>Completed Missions</button>
  </div>

  <div id="active-goals">

    {{#each goals}}
      {{> goal-card/goal-card}}
    {{/each}}
  </div>

  <div id="active-goals">
    <h1>Active Goals</h1>
    <div class="empty-tag">
      <p>No active goals.</p>
    </div>
    <div class="row">
      {{#each goals.active}}
      {{> goal-card/goal-card type='active'}}
      {{/each}}
    </div>
  </div>

  <div id="activity">
    <h1>Activity</h1>
    {{> activity-chart/activity-chart data=activity}}
  </div>
</div>
