{{#head}}
  <title>{{ appName }} - {{ appTagLine }}</title>
{{/head}}

<div id="dashboard" data-component="dashboard" class="loading active-missions">
  <div data-component="button-group">
    <button class="active active-missions">Active Missions</button>
    <button class="completed-missions">Completed Missions</button>
  </div>

  <div class="sections">
    <section class="active-missions">
      <div class="loading-wrap">
        {{> loading/loading}}
      </div>

      <div class="agent-wrap">
        {{> agent/agent}}
      </div>

      <div class="mission-cards">
        {{> mission-card/mission-card class="create"}}
        <div id="active-missions">
          {{#each missions.active}}
            {{> mission-card/mission-card users=../users}}
          {{/each}}
        </div>
      </div>

    </section>
    <section class="completed-missions">
      <div class="mission-badges">
        {{!-- flex reversed for popovers --}}
        {{#eachReverse missions.completed}}
        {{> completed-mission-badge/completed-mission-badge this family=../users}}
        {{/eachReverse}}
      </div>
    </section>
  </div>
</div>
