#dashboard {

  #family-badges {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;

    > [data-component="user-badge"] {
      margin: 0 15px;
    }
  }

  > [data-component="button-group"] {
    margin: 0 0 40px 0;
  }

  #review-goals, #active-goals {
    > .empty-tag {
      display: none;
    }

    &.empty {
      > .empty-tag {
        display: block;
      }
    }

    > .row {
      display: flex;
      > [data-component="goal-card"]:not(:first-child) {
        margin-left: 11px;
      }
    }
  }
}
