<div id="dashboard" data-component="dashboard">

  <div id="family-badges">
    {{#each users}}
      {{> user-badge/user-badge}}
    {{/each}}
  </div>


  <div data-component="button-group">
    <button class="active">Active Missions</button>
    <button>Completed Missions</button>
  </div>

  {{> create-mission-card/create-mission-card}}
  <div id="active-goals">
    {{#each missions}}
      {{> mission-card/mission-card}}
    {{/each}}
  </div>
</div>
