<div data-component="milestone-badge"{{#if gallery}} data-gallery="true"{{/if}} style="
     {{~#if imageUrls~}}
       {{~#each imageUrls~}}
       background-image:url('{{ this }}');
       {{~/each~}}
     {{~/if}}" {{#xif showTimesCompleted '&&' timesCompleted}}class="show-times-completed"{{/xif}}>
  <div class="times-completed">
    <span>{{timesCompleted}}</span>
  </div>

  <script type="application/json" class="data">
    {{{json this}}}
  </script>
</div>
