<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    {{{ _extend_head }}}
  </head>
  <body>
    <div id="container">
      {{{ body }}}
    </div>
    {{> settings-hamburger/settings-hamburger}}
    {{> nav/nav}}
    <script type="application/json" id="server-data">
    {
      "familyMembers": {{{json users}}},
      "activity": {{{json activity}}}
    }
    </script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  </body>
</html>
