[data-component="button-group"] {
  display: flex;
  align-items: center;
  justify-content: center;

  > button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 400;
    color: #646464;

    padding: 12px 40px;
    border-radius: 40px;

    &.active {
      background-color: $action-color;
      color: white;
    }

    &:not(.active) {
      transition: opacity 0.2s ease-out;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}
