<div data-component="goal">
  <h2>{{ title }}</h2>
  <img class="goal-img" src="{{ image }}">
  <p class="name">{{ user.name }}</p>
  <button class="complete-button">Mark as Complete</button>
  <button class="redo-button">Ask to Redo</button>
</div>
