[data-component="family-list"] {
  > .user {
    display: flex;
    align-items: center;
    padding: 11px 76px 11px 16px;

    transition: background-color 0.2s ease-out;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
    }

    > [data-component="user-badge"] {
      width: 44px;
      height: 44px;
      border-width: 4px;
    }

    > h2 {
      margin-left: 18px;
      font-size: 20px;
    }
  }
}
