// Variables
@import 'variables';

// Components
@import '../components/user-badge/user-badge';
@import '../components/checkpoint-badge/checkpoint-badge';
@import '../components/button-group/button-group';
@import '../components/goal-card/goal-card';
@import '../components/progress-bar/progress-bar';

@import '../components/create/create';
@import '../components/activity-chart/activity-chart';

// Views
@import 'dashboard/dashboard';

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 400;
}

span {
  font-weight: 300;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #f8f8f8;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

button {
  font-family: inherit;
}
