@import 'variables';
@import 'animations';

// Components
@import '../components/badge/badge';
@import '../components/badge-menu/badge-menu';
@import '../components/user-badge/user-badge';
@import '../components/milestone-badge/milestone-badge';
@import '../components/button-group/button-group';
@import '../components/mission-card/mission-card';
@import '../components/progress-bar/progress-bar';
@import '../components/text-box/text-box';
@import '../components/add-milestones/add-milestones';
@import '../components/add-milestones/add-milestones-row';
@import '../components/add-milestones/completed-milestones-row';
@import '../components/checkmark/checkmark';
@import '../components/close/close';
@import '../components/nav/nav';
@import '../components/settings-hamburger/settings-hamburger';
@import '../components/activity/activity';
@import '../components/agent/agent';
@import '../components/loading/loading';
@import '../components/completed-mission-badge/completed-mission-badge';
@import '../components/gallery/gallery';
@import '../components/lightbox/lightbox';
@import '../components/camera-icon/camera-icon';

// Views
@import 'dashboard/dashboard';

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 400;
}

span {
  font-weight: 300;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin-top: $nav-height;
  background-color: #f8f8f8;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

#container {
  width: 800px;
  position: relative;
}

button {
  font-family: inherit;
}

.tooltip {
  transform: scale(1);
  transition: transform $out-bounce-bezier 0.2s;
  &.in {
    transform: scale(1.15);
  }
}

.popover {
  box-shadow: 0 2px 2px 0 $shadow-color;
  border-radius: 4px;
  max-width: 400px;

  opacity: 0;
  margin-top: 3px;
  transform: scale(1) translate(0, -10px);
  transition: transform $out-bounce-bezier 0.2s, opacity ease-out 0.2s;
  &.in {
    opacity: 1;
    transform: scale(1.01) translate(0, 0);
  }

  &.bottom > .arrow {
    margin-left: -12px;
    width: 24px;
    height: 11px;
    background-image: url('/images/icons/popover-tail/popover-tail@2x.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    top: -11px;
  }
}
