// Components
@import '../components/user-badge/user-badge';
@import '../components/create/create';
@import '../components/goal-card/goal-card';
@import '../components/activity-chart/activity-chart';

// Views
@import 'dashboard/dashboard';

* {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
