$action-color: #3a96dc;
$secondary-color: #e2f0fa;
$shadow-color: rgba(0, 0, 0, 0.21);
$border-color: #bfbfbf;
$placeholder-color: #cbcbcb;
$inset-shadow-color: rgba(132, 132, 132, 0.5);
$caption-color: #787878;
$destructive-color: #f65151;
$badge-background-color: #efefef;

$out-bounce-bezier: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$in-out-bounce-bezier: cubic-bezier(0.56, -0.25, 0.33, 1.41);
$in-out-bounce-bezier-2: cubic-bezier(0.68, -0.55, 0.27, 1.55);

$nav-height: 48px;

$max-num-milestones: 10;
$max-num-mission-cards: 10;

$badges: 'anchor', 'balloon', 'bolt', 'feather', 'flag', 'key',
         'kite', 'mountain', 'paw', 'plane', 'rocket', 'silly';
