<div data-component="badge-menu">
  <h2>Choose a badge</h2>
  <div class="badges">
    {{#each badges}}
    <div class="badge-wrapper">
      {{> badge/badge popover=false badge=this}}
    </div>
    {{/each}}
  </div>
</div>
