#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;

  &.show {
    display: flex;
    align-items: center;
    justify-content: center;
    > .content.show {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  > .content {
    width: 50%;
    height: 50%;

    > * {
      width: 100%;
    }

    opacity: 0;
    transform: translate(0, 80px);
    transition: transform 0.4s $out-bounce-bezier, opacity 0.2s ease-out;
  }
}
