[data-component="user-badge"] {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: solid 5px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: inline-block;
}
