<div  data-trigger="hover click" data-component="user-badge" data-toggle="tooltip" title="Agent {{ name }}" data-placement="bottom" style="background-image:url('{{ imageUrl }}');border-color:{{ color }};"></div>
