<div data-component="create">
  <button class="open-button">Create New Goal</button>

  <div class="form hide">
    <label>
      <p>Title</p>
      <input type="text">
    </label>
    <label>
      <p>Difficulty</p>
      <input type="number" value="1">
    </label>
    <label>
      <p>Assign To</p>
      <select>
        <option>Anyone</option>
        {{#each users}}
        <option>{{ name }}</option>
        {{/each}}
      </select>
    </label>

    <div class="footer">
      <button class="create-button">Create</button>
      <button class="cancel-button">Cancel</button>
    </div>
  </div>
</div>
