[data-component="badge"] {
  position: relative;
  width: 128px;
  height: 128px;
  border-radius: 128px;
  border: solid 11px white;
  box-shadow: 0 3px 4px 0 $shadow-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  > button.edit {
    position: absolute;
    bottom: -11px;
    right: -11px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    border: none;
    background-color: white;
    box-shadow: 0 2px 4px 0 $shadow-color;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.5);
    transition: transform 0.4s $out-bounce-bezier, opacity 0.2s ease-out;

    background-image: url('/images/icons/edit/edit.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  > .popover {
    padding: 12px 24px;
  }

  @each $badge in $badges {
    &.#{$badge} {
      background-image: url('/images/icons/badges/#{$badge}@3x.png') !important;
    }
  }

  &.editable {
    > button.edit {
      opacity: 1;
      transform: scale(1);
      pointer-events: initial;
    }
  }
}
