<div data-component="badge" data-badge="{{ badge }}" class="{{ badge }}{{#if editable}} editable{{/if}}" {{#if popover}}data-toggle="popover" data-placement="right" data-trigger="manual"{{/if}}>
  <button class="edit"></button>
</div>
