[data-component="gallery"] {

  > header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    > [data-component="badge"] {
      width: 44px;
      height: 44px;
      border-width: 4px;
      margin-right: 11px;
    }

    > h1.title {
      color: white;
      text-shadow: 0 2px 2px $shadow-color;
    }
  }

  > .content {
    position: relative;

    > .grid {
      > .grid-item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        width: 130px;
        height: 130px;
        margin: 10px;
        background: white;

        &.large {
          width: 280px;
          height: 280px;
        }
      }
    }
    > section.theater, > .grid {
      position: absolute;
      top: 0;
      width: 100%;
      transition: translate 0.4s $out-bounce-bezier, opacity 0.2s ease-out;
    }
  }

  &.theater-mode {
    > .content {
      > .grid {
        opacity: 0;
        transform: translate(0, -40px);
        pointer-events: none;
      }

      > section.theater {
        opacity: 1;
        transform: translate(0, 0);
        transition-delay: 0.6s;
        pointer-events: initial;
      }
    }
  }

  > .content {
    > section.theater {
      opacity: 0;
      transform: translate(0, 40px);
      pointer-events: none;

      > .main {
        display: flex;
        justify-content: center;
        position: relative;

        height: 520px;

        > .image {
          width: 520px;
          height: 520px;

          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        &:hover {
          > button.redo {
            opacity: 1;
          }
        }

        > button.redo {
          position: absolute;
          top: 18px;
          right: 18px;
          font-size: 24px;
          color: white;
          background-color: $destructive-color;
          cursor: pointer;
          border: none;
          padding: 9px 26px;
          border-radius: 4px;

          opacity: 0;
          transition: opacity 0.2s ease-out;
        }
      }

      &:hover {
        > .slide {
          transform: translate(0, 0);
          opacity: 1;
          pointer-events: initial;

          transition-timing-function: $out-bounce-bezier;
        }
      }

      > .slide {

        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 11px;
        display: flex;
        align-items: center;

        transform: translate(0, 50%);;
        opacity: 0;
        pointer-events: none;
        transition: transform 0.4s $in-out-bounce-bezier-2, opacity 0.2s ease-out;

        > button.back, > button.forward {
          width: 40px;
          height: 40px;
          flex: 0 0 auto;
          cursor: pointer;
          background-color: transparent;
          border: none;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        > button.back {
          margin-right: 18px;
          background-image: url('/images/icons/back/back.svg');
        }

        > button.forward {
          background-image: url('/images/icons/forward/forward.svg');
          margin-left: 18px;
        }

        > .slide-inner-wrap {
          flex: 1 1 auto;
          overflow: hidden;

           > .slide-inner {
            display: flex;
            align-items: center;
            transition: transform 0.4s $out-bounce-bezier;

            > .slide-item {
              cursor: pointer;
              flex: 0 0 auto;
              margin: 10px;
              width: 50px;
              height: 50px;
              border: solid 4px white;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              border-radius: 130px;
              box-shadow: 0 2px 4px 0 $shadow-color;
              transform: scale(1);
              transition: border-color 0.2s ease-in, transform 0.2s $out-bounce-bezier;

              &.selected, &:hover {
                transform: scale(1.15);
                border-color: $action-color;
              }
            }
          }
        }
      }
    }
  }
}
