<div data-component="gallery" class="theater-mode">

  <header>
    {{#if badge}}
      {{> badge/badge badge=badge}}
    {{/if}}
    <h1 class="title">{{ title }}</h1>
  </header>
  <div class="content">
    <section class="theater">
      <div class="main">
        <div class="empty-tag">
          {{> camera-icon/camera-icon}}
          <span>Get out and snap some photos!</span>
        </div>
        <div class="image"></div>
        {{!-- Not super clean, but w/e --}}
        <button class="redo">Ask to redo</button>
      </div>
      <div class="slide">
        <button class="back"></button>
        <div class="slide-inner-wrap">
          <div class="slide-inner">
            {{#each images}}
            <div class="slide-item" data-image-url="{{ imageUrl }}" style="background-image:url('{{ imageUrl }}');"></div>
            {{/each}}
          </div>
        </div>
        <button class="forward"></button>
      </div>
    </section>
  </div>
  <script type="application/json" class="data">
    {{{json this}}}
  </script>
</div>
