<button data-component="close" data-toggle="tooltip" title="{{#if tooltipTitle}}{{tooltipTitle}}{{else}}Close{{/if}}" data-placement="{{#if tooltipPlacement}}{{tooltipPlacement}}{{ else }}top{{/if}}"></button>
