<div data-component="activity-chart">
  <canvas width="500" height="273" class="chart"></canvas>
  <div class="legend">
    {{#each data}}
    <div class="user" data-name="{{ name }}">
      <div class="color" style="background-color:{{ color }}"></div>
      <span>{{ name }}</span>
    </div>
    {{/each}}
  </div>

  <script type="application/json" class="data">{{{json data}}}</script>
</div>
