[data-component="create-mission-card"] {
  cursor: pointer;
  padding: 30px 65px;

  background-color: white;
  box-shadow: 0 2px 4px 0 $shadow-color;
  border-radius: 11px;

  > .header {
    display: flex;
    align-items: center;
    height: 128px;

    > [data-component="badge"] {
      margin-right: 48px;
      flex: 0 0 auto;
    }

    > [data-component="text-box"] {
      width: 100%;
      font-size: 24px;

      > input[type="text"] {
        padding: 11px 0;
        cursor: pointer;
      }

      > .border {
        background-color: transparent;
      }
    }
  }

  > .details {
    display: none;

    > .row {

      margin: 24px 0;
      display: flex;
      align-items: flex-start;

      &.family {
        > span {
          height: 60px; // same height as user badge
        }
      }

      &.milestones {
        > span {
          height: 44px; // same height as milestone badge
        }
      }

      > span {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        width: 128px; // same width as badge
        margin-right: 48px;
        flex: 0 0 auto;
        font-size: 14px;
        font-weight: 400;
      }

      > .family-select [data-component="user-badge"] {
        margin: 0 11px;
      }
    }
  }

  &.active {
    cursor: initial;

    > .header {

      > [data-component="text-box"] {

        > input[type="text"] {
          cursor: initial;
        }

        > .border {
          background-color: $border-color;
        }
      }
    }

    > .details {
      display: initial;
    }
  }
}
