<div data-component="create-mission-card">
  {{> close/close}}
  <div class="header">
    {{> badge/badge}}
    {{> text-box/text-box class="title" placeholder="Add a new mission"}}
  </div>
  <div class="details">
    <div class="row family">
      <span>Assigned to</span>
      <div class="family-select">
      {{#each users}}
        {{!-- Start off preselected --}}
        {{> user-badge/user-badge selectable=true selected=true}}
      {{/each}}
      </div>
    </div>

    <div class="row milestones">
      <span>Milestones</span>
      {{> add-milestones/add-milestones}}
    </div>

    <div data-component="button-group">
      <button class="cancel">Cancel</button>
      <button class="active done">Done</button>
    </div>
  </div>
</div>
