<div data-component="create-mission-card">
  <div class="header">
    {{> badge/badge}}
    {{> text-box/text-box class="title" placeholder="Add a new mission"}}
  </div>
  <div class="details">
    <div class="row family">
      <span>Assigned to</span>
      <div class="family-select">
      {{#each users}}
        {{> user-badge/user-badge}}
      {{/each}}
      </div>
    </div>

    <div class="row milestones">
      <span>Milestones</span>
      {{> add-milestones/add-milestones}}
    </div>
  </div>
</div>
