<div {{#unless name}}class="add"{{/unless}} data-component="add-milestones-row">
  {{> milestone-badge/milestone-badge}}
  {{> text-box/text-box placeholder="Add a milestone" value=name}}

  <div class="details">
    <div class="dropdown">
      <button class="dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="text">1</span>
      </button>
      <ul class="dropdown-menu">
        <li value="1" class="selected">1</li>
        <li value="2">2</li>
        <li value="3">3</li>
        <li value="4">4</li>
        <li value="5">5</li>
        <li value="6">6</li>
        <li value="7">7</li>
        <li value="8">8</li>
        <li value="9">9</li>
        <li value="10">10</li>
      </ul>
    </div>
    <span class="dropdown-label">time</span>
    <span class="remove-button" data-toggle="tooltip" data-placement="top" title="Remove"></span>
  </div>
</div>
