[data-component="add-milestones"] {
  > .rows {
    [data-component="add-milestones-row"] {
      margin-bottom: 11px;

      transition: transform 0.2s ease-out, opacity 0.2s ease-out;

      &.hide {
        opacity: 0;
        transform: translate(-40px, 0);
      }
    }
  }
}
