<div data-component="completed-milestones-row">
  {{> milestone-badge/milestone-badge gallery=true showTimesCompleted=true}}
  <h2>{{ title }}</h2>

  <script type="application/json" class="data">
    {{{json this}}}
  </script>
</div>
