[data-component="settings-hamburger"] {
  position: fixed;
  top: $nav-height;
  right: 0;
  background: #fff;
  padding: 11px 0 0 0;
  box-shadow: 0 2px 4px 0 $shadow-color;

  transform: translate(0, 0);
  transition: transform 0.3s;

  &.hide {
    transform: translate(100%, 0);
    pointer-events: none;
  }

  [data-component="family-list"] {
    border-bottom: solid 1px $shadow-color;
  }

  button.logout {
    background: none;
    font-size: 24px;
    width: 100%;
    cursor: pointer;
    padding: 11px 0;
    border: none;
    color: $destructive-color;
    transition: color 0.05s ease-out, background-color 0.05s ease-out;

    &:hover {
      background-color: $destructive-color;
      color: white;
    }
  }
}
