<div data-component="progress-bar">
  <div class="track" data-toggle="tooltip" data-placement="bottom" title="This is a tooltip">

  </div>

  <script id="mission-data" type="application/json">
    {{{json this}}}
  </script>
</div>
