[data-component="goal-card"] {
  width: 200px;
  border: solid 1px black;
  text-align: center;

  &.hide {
    display: none;
  }

  > .goal-img {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
