<div data-component="nav">
  <div class="buttons">
    <button class="activity" data-toggle="popover" data-placement="bottom" data-trigger="manual"></button>
    <button class="settings"></button>
  </div>
</div>
