[data-component="agent"] {
  width: 100px;
  height: 100px;
  background-image: url('/images/icons/agent/agent.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
