<div data-component="text-box" class="{{ class }}">
  <input type="text" placeholder="{{ placeholder }}"{{#if value}} value="{{ value }}"{{/if}}>
  <div class="border">
    <div class="focused-border"></div>
  </div>
</div>
